<div id="game" class="flex-center flex-column">
  <div id="loader" *ngIf="!acceptingAnswers">
    </div>
  <div *ngIf="acceptingAnswers">
    <div id="game">
        <div class="hud">
            <div id="hud-item">
                <p id="progressText" class="hud-prefix">
                  {{ questionProgressText }}
                </p>
                <div id="progressBar">
                  <div
                    id="progressBarFull"
                    [ngStyle]="{ 'width.%': quizProgress * 100 }"
                  ></div>
                </div>
              </div>
              <div id="hud-item">
                <p class="hud-prefix">Score</p>
                <h1 class="hud-main-text" id="score">
                  {{ score }}
                </h1>
              </div>
        </div>
      <div class="question-box">
        <h2 id="question">{{ currentQuestion.question }}</h2>
        <div
          class="choice-container"
          [ngClass]="optionClass().at(i)"
          *ngFor="
            let choice of currentQuestion.choices | keyvalue;
            let i = index;
          "
          #choiceElement
        >
          <p class="choice-prefix">{{ answerOptions[i] }}</p>
          <p
            class="choice-text"
            (click)="selectAnswer(
              i + 1)"
          >
            {{ choice.value }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
